<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="bg-color">
  <div class="containers">
    <div class="title">
      <p>The Best Seller Of Hitheme</p>
      <h2><span>Best</span> Seller</h2>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">-9%</div>
            <div class="label label-green">Pre-order</div>
            <div class="product-container">
              <div class="p" (mouseover)="imageChange($event)"><img src="../assets/img1.jpg"
                                                                    alt="Product"></div>
              <div class="p" (mouseover)="imageChange($event)"><img src="../assets/img2.jpg"
                                                                    alt="Product"></div>
              <div class="p" (mouseover)="imageChange($event)"><img src="../assets/img3.jpg"
                                                                    alt="Product"></div>
            </div>
            <div class="image">
              <img src="{{url}}" alt="Product">
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                <li><a href=""><i class="fa fa-heart"></i></a></li>
                <li><a href=""><i class="fa fa-search"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="javascript:void(0);">Incidid Tongue Bar</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">-9%</div>
            <div class="label label-green">Pre-order</div>
            <div class="product-container">
              <div class="p" (mouseover)="imageChange($event)"><img src="../assets/img1.jpg"
                                                                    alt="Product"></div>
              <div class="p" (mouseover)="imageChange($event)"><img src="../assets/img2.jpg"
                                                                    alt="Product"></div>
              <div class="p" (mouseover)="imageChange($event)"><img src="../assets/img3.jpg"
                                                                    alt="Product"></div>
            </div>
            <div class="image">
              <img src="{{url}}" alt="Product">
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                <li><a href=""><i class="fa fa-heart"></i></a></li>
                <li><a href=""><i class="fa fa-search"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="javascript:void(0);">Incidid Tongue Bar</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">-9%</div>
            <div class="label label-green">Pre-order</div>
            <div class="product-container">
              <div class="p" (mouseover)="imageChange($event)"><img src="../assets/img1.jpg"
                                                                    alt="Product"></div>
              <div class="p" (mouseover)="imageChange($event)"><img src="../assets/img2.jpg"
                                                                    alt="Product"></div>
              <div class="p" (mouseover)="imageChange($event)"><img src="../assets/img3.jpg"
                                                                    alt="Product"></div>
            </div>
            <div class="image">
              <img src="{{url}}" alt="Product">
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                <li><a href=""><i class="fa fa-heart"></i></a></li>
                <li><a href=""><i class="fa fa-search"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="javascript:void(0);">Incidid Tongue Bar</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-main">
          <div class="discount">-9%</div>
          <div class="label label-green">Pre-order</div>
          <div class="product-container">
            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/img1.jpg"
                                                                  alt="Product"></div>
            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/img2.jpg"
                                                                  alt="Product"></div>
            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/img3.jpg"
                                                                  alt="Product"></div>
          </div>
          <div class="image">
            <img src="{{url}}" alt="Product">
          </div>
          <div class="cart-line"></div>
          <div class="cart-item">
            <ul>
              <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
              <li><a href=""><i class="fa fa-heart"></i></a></li>
              <li><a href=""><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="content">
          <a href="javascript:void(0);">Incidid Tongue Bar</a>
          <div class="rating">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="policy">
  <div class="containers text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-car"></i>
            </div>
          </div>
          <h2>Free Shipping &amp; Return</h2>
          <p>Free shipping on all UK order</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="policy-card">
        <div class="round">
          <div class="round-icon">
            <i class="fa fa-refresh"></i>
          </div>
        </div>
        <h2>Money Back Guarentee</h2>
        <p>30 days money back guarentee</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="policy-card">
        <div class="round">
          <div class="round-icon">
            <i class="fa fa-phone"></i>
          </div>
        </div>
        <h2>Online Support 24/24</h2>
        <p>We support online 24/24 on day</p>
      </div>
    </div>
  </div>
</section>

<section class="policy-product">
  <div class="containers">
    <div class="row">
      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>04</h3>
            <h4>August</h4>
          </div>
          <div class="policy-img">
            <img src="../assets/policy/p1.jpg" alt="P1 ">
          </div>
          <h2>At vero eos et accusamus <br>et iusto odio dignissimos</h2>
          <p>On the other hand, we denounce with righteous<br> indignation and dislike men who are so beguiled<br> and demoralized by the charms of pleasure of the<br> moment, so blinded by desire, that they cannot<br> foresee the pain and trouble that are bound<br> to ensue;
            and equal blame belongs to those who<br> fail in their duty through weakness of will, which<br> is the same as saying through shrinking from toil and pain.</p>
          <a href="" class="read-more">Read More <i class="fa fa-caret-right"></i>  </a>
        </div>
      </div>
      </div>
      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>04</h3>
            <h4>August</h4>
          </div>
          <div class="policy-img">
            <img src="../assets/policy/p2.jpg" alt="P2">
          </div>
          <h2>At vero eos et accusamus <br>et iusto odio dignissimos</h2>
          <p>On the other hand, we denounce with righteous<br> indignation and dislike men who are so beguiled<br> and demoralized by the charms of pleasure of the<br> moment, so blinded by desire, that they cannot<br> foresee the pain and trouble that are bound<br> to ensue;
            and equal blame belongs to those who<br> fail in their duty through weakness of will, which<br> is the same as saying through shrinking from toil and pain.</p>
          <a href="" class="read-more">Read More <i class="fa fa-caret-right"></i>  </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>04</h3>
            <h4>August</h4>
          </div>
          <div class="policy-img">
            <img src="../assets/policy/p3.jpg" alt="P3">
          </div>
          <h2>At vero eos et accusamus <br>et iusto odio dignissimos</h2>
          <p>On the other hand, we denounce with righteous<br> indignation and dislike men who are so beguiled<br> and demoralized by the charms of pleasure of the<br> moment, so blinded by desire, that they cannot<br> foresee the pain and trouble that are bound<br> to ensue;
            and equal blame belongs to those who<br> fail in their duty through weakness of will, which<br> is the same as saying through shrinking from toil and pain.</p>
          <a href="" class="read-more">Read More <i class="fa fa-caret-right"></i>  </a>
        </div>
      </div>
    </div>
</section>
